{% load staticfiles %}
<html>
    <head>
        <title>Ksenksenon blog</title>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Exo+2|Indie+Flower|Neucha" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script src="{% static 'js/blog.js' %}"></script>

    </head>
    <body>

      <div class="page-header">
          {% if user.is_authenticated %}
          <div class="adm">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{% url 'post_new' %}"> <span class="glyphicon glyphicon-plus"></span> Новый пост</a></li>
            <li><a href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-pencil"></span> Черновики</a></li>
          </ul>
          </div>
          {% endif %}
          <h1><a href="/">@Ksenksenon Blog</a></h1>
      </div>
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
  <footer>
    <h3>&copy Ksenia Kataeva</h3>
  </footer>
  </body>
</html>
