{% extends 'blog/base.html' %}

{% block content %}
<h4>Я в соцсетях:</h4>

<div class="col-md-3 info">
  <a class="btn btn-block btn-social btn-vk" href="https://vk.com/ksenksenon">
  <span class="fa fa-vk"></span> VK
  </a>

  <a class="btn btn-block btn-social btn-instagram" href="https://www.instagram.com/ksenksenon">
  <span class="fa fa-instagram"></span> Instagram
  </a>

  <a class="btn btn-block btn-social btn-twitter" href="https://twitter.com/ksenksenon">
  <span class="fa fa-twitter"></span> Twitter
  </a>
</div>


{% endblock %}
